<section>
    <div class="cover">
      <img src="assets/undraw_voice-interface_vo02.svg" alt="">
      <div class="message">
        <h1>Welcome to Our Store</h1>
        <p>Your one-stop destination for everything you need!</p>
      </div>
    </div>

      <h4><i class="fa fa-box"></i> Some of our products</h4>
      <div class="container">
        <div *ngFor="let prod of Products">
            <img *ngIf="prod.Image" [src]="'http://localhost:3000/uploads/' + prod.Image" alt="">
                <h3>{{prod.Name}}</h3>
                <p>-Price: ${{prod.Price}}</p>
                <button (click)="addToCart()">Add To Cart</button>
        </div>
      </div>
      <button (click)="scrollToTop()" class="scrollToTop"> ⬆ </button>
</section>
  