<section>
    <div class="cover">
      <img src="assets/undraw_voice-interface_vo02.svg" alt="">
      <div class="message">
        <h1>Welcome to Our Store</h1>
        <p>Your one-stop destination for everything you need!</p>
      </div>
    </div>

    <br>

    <!-- <h4>Some of our products</h4>
    <div class="container">
    <div *ngFor="let prod of Products.length = 8">
        <img *ngIf="prod.Image" [src]="'http://localhost:3000/uploads/' + prod.Image" (click)="viewProdDetails(prod._id)" alt="">
            <h3>{{prod.Name}}</h3>
            <p>-Price: ${{prod.Price}}</p>
            <button (click)="viewProdDetails(prod._id)" class="btn btn-primary">See Details</button>
    </div> -->
<!-- </div> -->
</section>
  