<h2>Set up your credit or <br> debit card</h2>
<div class="images">
  <img src="assets/visa.png" alt="">
  <img src="assets/masterCard.png" alt="">
</div>

<div class="payment-container">  
    <div *ngIf="Products.length === 0" class="empty-cart">
      <p>Your cart is empty !</p>
    </div>

    <div *ngIf="Products.length > 0" class="order-summary">
      <h4>🛒 Order Summary</h4>
      <div *ngFor="let product of Products" class="product-item">
        <p><strong>{{ product.Name }}</strong> - {{ product.Price }}$</p>
      </div>
    </div>

    <form class="payment-form">
      <h3>Payment Details 💳</h3> 
      <input type="text" id="cardNumber" name="cardNumber" placeholder="Enter card number" required>
      <div class="hama">
        <input type="text" id="expiryDate" name="expiryDate" placeholder="Expire date" required>
        <input type="text" id="cvv" name="cvv" placeholder="Enter CVV" required>
      </div>
      <input type="text" id="cardHolderName" name="cardHolderName" placeholder="Card holder name" required>
    </form>

    <button class="payment-btn" (click)="selectPayment('credit-card')">Pay {{ calculateTotal() }}$</button>
</div>
