<div class="payment-container">
    <h2>Checkout</h2>
  
    <div *ngIf="Products.length === 0" class="empty-cart">
      <p>Your cart is empty !</p>
    </div>
  
    <div *ngFor="let product of Products" class="product-item">
      <p><strong>{{ product.Name }}</strong> - {{ product.Price }}$</p>
    </div>

    <p class="total"><strong>Total:</strong> {{ calculateTotal() }}

    <div class="payment-options">
      <h3>Select Payment Method</h3>
      <button class="payment-btn" (click)="selectPayment('credit-card')">Credit Card <img src="assets/2023-bath-england-visa-charities-900038331.webp" width="24px" style="border-radius: 4px;" alt=""></button>
      <button class="payment-btn" (click)="selectPayment('paypal')">PayPal <img src="assets/images.jpg" width="32px" alt=""></button>
    </div>
  </div>
  