.container {
    display: flex;
    justify-content: center;
    min-height: calc(100vh - 66px);
    align-items: center;
}

h3 {
    display: flex;
    letter-spacing: 1px;
    justify-content: center;
    margin: 20px 0 24px 0;
    font-family: sans-serif;
}

form {
    max-height: 450px;
    width: 320px;
    border: 1px solid #3c4b59;
    border-radius: 8px;
}

form input {
    display: flex;
    text-align: left;
    justify-content: center;
    margin: 16px auto 20px auto;
    padding-left: 10px;
    border: 1px solid #7f8c99;
    width: 84%;
    height: 35px;
    outline: none;
    border-radius: 6px;
}

.alert-danger {
    width: 84%;
    margin: -14px auto 10px auto;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 1px;
    color: red;
}

form select {
    display: flex;
    text-align: left;
    justify-content: center;
    margin: 4px auto 5px auto;
    padding-left: 10px;
    border: 1px solid #7f8c99;
    width: 84%;
    height: 35px;
    outline: none;
    border-radius: 6px;
}

input[type="email"]:focus {
    border: 1px solid #007bff;
}

input[type="password"]:focus {
    border: 1px solid #007bff;
}

.role-dropdown:focus {
    border: 1px solid #007bff;
}

.success-border {
    border: 1px solid green;
}

p {
    margin-top: 12px;
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
}

a {
    color: rgb(110, 110, 241);
    text-decoration: none;
    font-weight: bold;
    margin-left: 6px;
}

a:hover {
    text-decoration: underline;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #343a40;
    border-radius: 6px;
    margin: 20px auto 10px auto;
    color: white;
    height: 37px;
    width: 80%;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.8 ease;
}

button:hover {
    background-color: #4c5764;
    font-size: 17px;
}

.successmsg {
    width: 84%;
    margin: 5px auto 10px auto;
    font-size: 14px;
    color: green;
}

.errormsg {
    width: 84%;
    margin: 0px auto 10px auto;
    font-size: 14px;
    color: red;
    margin-top: -15px;
}

button:disabled {
    background-color: #ccc; 
    color: #666;  
    cursor: not-allowed;  
    opacity: 0.6; 
}


     