
<div class="container">
    <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
        <h3>Login</h3>

        <input type="email" placeholder="Enter email" name="Email" formControlName="Email" min="8" max="12">
        <div class="alert-danger" *ngIf="myForm.get('Email')?.touched && myForm.get('Email')?.errors?.['required']">Email input is required !</div>
        <div class="alert-danger" *ngIf="myForm.get('Email')?.errors?.['minlength']">Email must be 8 caracters.</div>
        <div class="alert-danger" *ngIf="myForm.get('Email')?.errors?.['email']">Invalid email format.</div>

        <input type="password" placeholder="Enter Password" name="Password" formControlName="Password" min="6">
        <div class="alert-danger" *ngIf="myForm.get('Password')?.touched && myForm.get('Password')?.errors?.['required']">Password input is required !</div>
        <div class="alert-danger" *ngIf="myForm.get('Password')?.errors?.['minlength']">Password ùust be 6 caracters.</div>

        <select class="role-dropdown" name="Role" formControlName="Role" required>
            <option value="Admin">Admin</option>
            <option value="User">User</option>
        </select>

        <p>Don't have an account ?<a routerLink="/register">Register</a></p>
        <button type="submit" [disabled]="myForm.invalid"> Login</button>

        <p class="successmsg">{{successmsg}}</p>
        <p class="errormsg">{{errormsg}}</p>
    </form>
    
</div>
