.container {
  min-height: calc(100vh - 66px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 40px 20px;
  background: #f9f9f9;
}

.welcome-title {
  font-size: 42px;
  font-weight: bold;
  color: #222;
  margin-bottom: 10px;
}

.welcome-text {
  font-size: 20px;
  color: #444;
  max-width: 600px;
  line-height: 1.8;
}

p {
  letter-spacing: 1px;
}